# exclude libs folder
*/webapp/libs/*
UI5-MII-Scanner-App/webapp/libs/*
# exclude test folder
*/webapp/test/*
UI5-MII-Scanner-App/webapp/test/*
# exclude dist folder
*/dist/*
UI5-MII-Scanner-App/dist/*