.sap-phone .suwIncreadedInputFontSize .sapMInputBaseInner {
	font-size: 1.5rem;
}

#scanner---goodsReceipt--goodsReceiptPageTitle.suwGoodsReceiptTitle{
   color: #1F35DE;
   font-weight: bold;
}

#scanner---goodsIssue--goodsIssuePageTitle.suwGoodsIssueTitle{
   color: #BB07FF;
   font-weight: bold;
}

#scanner---stockTransfer--stockTransferPageTitle.suwStockTransferTitle{
   color: #FFAC00;
   font-weight: bold;
}

#scanner---rollerConveyor--rollerConveyorPageTitle.suwRollerConveyorTitle{
   color: #05B074;
   font-weight: bold;
}