.sap-phone .suwIncreadedInputFontSize .sapMInputBaseInner {
	font-size: 1.5rem;
}

.sapMTitle .suwGoodsReceiptTitle{
   color: #1F35DE !important;
   font-weight: bold;
}

.sapMTitle .suwGoodsIssueTitle{
   color: #BB07FF !important;
   font-weight: bold;
}

.sapMTitle .suwStockTransferTitle{
   color: #FFAC00 !important;
   font-weight: bold;
}

.sapMTitle .suwRollerConveyorTitle{
   color: #05B074 !important;
   font-weight: bold;
}